html {
    background-image: url(../img/background.jpg);
}
body {
    background-color: rgba(0, 0, 0, 0.81);
    min-height: 600px;
}
nav {
    color: white;
    background: #7d7e7d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
}
#top-bar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.row-centered {
    text-align: center;
    margin-bottom: 0px;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
.shop-category {
    margin-left: -5px;
    padding-left: 15px;
    border-top: 3px solid #989898;
    border-right: 3px solid #989898;
    border-bottom: 3px solid #989898;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background: -moz-linear-gradient(0deg, rgba(192, 192, 192, 0.15) 0%, rgba(128, 128, 128, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(192, 192, 192, 0.15)), color-stop(100%, rgba(128, 128, 128, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(192, 192, 192, 0.15) 0%, rgba(128, 128, 128, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(192, 192, 192, 0.15) 0%, rgba(128, 128, 128, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(192, 192, 192, 0.15) 0%, rgba(128, 128, 128, 1) 100%);
    /* ie10+ */
    background: linear-gradient(90deg, rgba(192, 192, 192, 0.15) 0%, rgba(128, 128, 128, 1) 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#808080', GradientType=1);
    /* ie6-9 */
}
.content-header {
    background: #fcfff4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    /* IE6-9 */
}
#widgets {
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}
#brand-sidebar {
    background-color: #d1d1d1;
}
#brand-sidebar > #header {
    font-size: 16px;
    -webkit-box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.54);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: -8px;
}
#brand-sidebar > ul > li {
    border-bottom: 1px solid #898989;
    padding-bottom: 3px;
    padding-top: 3px;
}
.bordered {
    border-color: #000;
    border-width: 8px;
    border-style: solid;
}
#subscribe {
    background-image: url(../img/str.png);
    color: #B6B6B6;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 18px;
}
#subscribe>h3 {
    text-align: center;
    margin-top: 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 15px 13px -6px rgba(0, 0, 0, 0.9);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    color: #B6B6B6;
}
.navbar-nav.nav-justified > li {
    float: none;
}
#popular-search {
    background: -moz-linear-gradient(left, rgba(66, 66, 66, 0.65) 0%, rgba(0, 0, 0, 0.32) 36%, rgba(0, 0, 0, 0) 71%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(66, 66, 66, 0.65)), color-stop(36%, rgba(0, 0, 0, 0.32)), color-stop(71%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(66, 66, 66, 0.65) 0%, rgba(0, 0, 0, 0.32) 36%, rgba(0, 0, 0, 0) 71%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(66, 66, 66, 0.65) 0%, rgba(0, 0, 0, 0.32) 36%, rgba(0, 0, 0, 0) 71%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(66, 66, 66, 0.65) 0%, rgba(0, 0, 0, 0.32) 36%, rgba(0, 0, 0, 0) 71%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(66, 66, 66, 0.65) 0%, rgba(0, 0, 0, 0.32) 36%, rgba(0, 0, 0, 0) 71%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6424242', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */
    padding: 10px;
}

.carousel {
    background-color: transparent;
}

.carousel-control{
    width: 5%;
}

.carouselFix img {
  width: auto;
  height: 70px;
  max-height: 70px;
}